.joinPage{
    background-color: rgb(61, 52, 52);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.JoinContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.JoinContainer > img{
    width: 10vmax;
}

.JoinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    font-family: "Ubuntu","san-serif";
    width: 30vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    padding: 1vmax;
    box-sizing: border-box;
}

#joinInput{
    width: 30vmax;
    padding: 1.3vmax;    
    outline: none;
    border: none;
    font-size: 1.2vmax;
    margin: 2vmax;
    box-sizing: border-box;
}
.joinbtn{
    width: 30vmax;
    padding: 1.3vmax;    
    outline: none;
    border: none;
    font-family: "Ubuntu","san-serif";
    font-size: 1.2vmax;
    color: white;
    background-color: crimson;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}

.joinbtn:hover{
    background-color: rgb(186, 47, 75);
}